:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
  --card-color: #fff;
}

/* Dark Mode Theme */
:root.dark {
  --text-color: #f0f0f0;
  --link-color: #79a6ff;
  --background-color: #121212;
  --card-color: #1e1e1e;
}

.about-section {
  min-height: 100vh;
  padding: 220px 50px;
  text-align: center;
}

.about-section h2 {
  font-size: 35px;
  margin: 30px;
}

.about-section .group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  text-align: left;
}

.about-section .text .person-details {
  text-align: center;
  flex: 2;
}

.about-section .group .person-details img {
  width: 145px;
  border-radius: 45%;
  object-fit: cover;
  margin-bottom: 15px;
}

.about-section .group .person-details p {
  font-weight: 600;
}

.about-section .group .person-details a:last-child {
  font-weight: normal;
}

.about-section .group .text {
  flex: 8;
}

.about-section .person-details .text {
  display: flex;
  align-items: center;
  text-align: center;
}
