:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
  --card-color: #fff;
}

/* Dark Mode Theme */
:root.dark {
  --text-color: #f0f0f0;
  --link-color: #79a6ff;
  --background-color: #121212;
  --card-color: #1e1e1e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  max-width: 1300px;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* Media Query */

@media (max-width: 600px) {
  /* Navbar */
  nav {
    padding: 0 20px;
  }

  nav .right {
    font-size: 22px;
  }

  nav .right a:last-child {
    color: var(--text-color);
    background-color: transparent;
    padding: 0;
  }

  nav .right a span {
    display: none;
  }

  /* Section 1: Hero */
  .hero-section {
    padding: 0 20px;
  }

  .hero-section .text {
    font-style: 20px;
  }
  /* Section 2: Skills */
  .skills-section {
    padding: 0 20px;
  }

  .skills-section .cells .cell span {
    font-style: 15px;
  }

  /* Section 4: Contact */
  .contact-section .group {
    flex-direction: column;
  }
}

/* Section 1: Hero */
@media (max-width: 850px) {
  .hero-section h2 {
    font-style: 35px;
  }
}

@media (max-width: 740px) {
  .hero-section {
    flex-direction: column-reverse;
  }

  .hero-section .headshot img {
    width: 175px;
  }

  .about-section {
    text-align: center;
  }

  .about-section .group {
    flex-direction: column;
  }
}

/* Section 4: Contact */
.contact-section {
  padding: 0 20px;
}
